# exclude Debug folder
/Debug/*

# exclude all .user files
*.user
BST/Debug/

\(another\)RowAndColumn_to_0/Debug/

k-th element from the end in list/Debug/

\(another\)k-th element from the end in list/Debug/

HeapSort/Debug/

HeapSort/HeapSort/Debug/
